/* цвет основного текста #212121 */
/* вторичный цвет #757575 * /
/*белый #ffffff*/
/* цвет активности #2196F3 */

.page {
  background-color: #ffffff;
  color: #212121;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* logo */
.logo {
  color: black;
}
.logo span {
  color: #2196f3;
}
/* site nav*/

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* hero */

.hero {
  background-color: #2f303a;
}
.hero h1 {
  color: #ffffff;
}

/* hero-description */

.hero-description {
  background-color: #e5e5e5;
}
.hero-list > h3 {
  color: #212121;
}

.hero-description p,
.team p {
  color: #757575;
}

/* team */
.team {
  background-color: #f5f4fa;
}

/* address */
